# ============ Java / Maven ============
target/
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# ============ Spring Boot ============
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ============ Variables de entorno ============
.env
*.env
!.env.example

# ============ IDE ============
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ============ OS ============
.DS_Store
Thumbs.db
